@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --font-mono:
    'Fira Code', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-additive: var(--additive);
  --color-additive-foreground: var(--additive-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-ring: var(--ring);
}

@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/FiraCode[wght].woff2') format('woff2-variations');
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: oklch(0.1722 0.0041 240);
  --foreground: oklch(0.947 0.0414 240);
  --primary: oklch(0.77 0.08 240);
  --primary-foreground: oklch(0.24 0.015 240);
  --secondary: oklch(0.24 0.03 250);
  --secondary-foreground: oklch(0.7 0.02 250);
  --muted: oklch(0.28 0.01 240);
  --muted-foreground: oklch(0.73 0.02 240);
  --accent: oklch(0.32 0.02 230);
  --accent-foreground: oklch(0.95 0.03 230);
  --destructive: oklch(0.704 0.191 22);
  --border: oklch(0.31 0.01 240);
  --ring: oklch(0.5 0.03 240);

  --chart-1: 215 60% 78%;
  --chart-2: 220 52% 68%;
  --chart-3: 225 45% 60%;
  --chart-4: 230 40% 52%;
  --chart-5: 235 35% 44%;
  --chart-6: 240 30% 36%;
  --chart-7: 245 25% 28%;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border outline-ring/50 tracking-tight;
  }
}